<ion-view>
        <ion-content class="padding-left padding-right">
           <!--      <div class="row padding title_breadcrumb_box">
                    <div class="col col-33"><i class="icon ion-android-arrow-back"></i>&nbsp;<b>Go Back</b></div>
                    <div class="col col-33">
                        <p class="title text-center">View Dashboard</p>
                    </div>
                    <div class="col col-33 text-right"><b>Close</b>&nbsp;<i class="icon ion-close"></i></div>
                </div> -->
                <div class="list card">
                  <div class="item item-divider">
                    <p>Recent Updates</p>
                  </div>
                  <a class="item" href="#">Your volunteer hour has been rejected</a>
                  <a class="item" href="#">Your volunteer hour has been accepted</a>
                  <a class="item" href="#">Your volunteer hour has been rejected</a>
                  <a class="item" href="#">Your volunteer hour is in pending</a>
                  <a class="item" href="#">Joe Bell sent you a message</a>
                </div>

                <div class="list card">

                  <div class="item item-divider">
                    <p>Hints</p>
                  </div>

                  <a class="item" href="#">Click on "icon" to start a new volunteer sheet</a>
                </div>
        </ion-content>
</ion-view>