<ion-view view-title="Dashboard">
<ion-content>
<div class="list">

  <div class="item item-divider">
    Recent Updates
  </div>

  <a class="item" href="#">Your volunteer hour has been rejected</a>
  <a class="item" href="#">Your volunteer hour has been accepted</a>
  <a class="item" href="#">Your volunteer hour has been rejected</a>
  <a class="item" href="#">Your volunteer hour is in pending</a>
  <a class="item" href="#">Joe Bell sent you a message</a>
</div>

<div class="list">

  <div class="item item-divider">
    Hints
  </div>

  <a class="item" href="#">Click on "icon" to start a new volunteer sheet</a>
</div>
</ion-content>
</ion-view>