<ion-view>
        <ion-content>

           <ui-view name="breadcrumb">
                <div class="row padding title_breadcrumb_box padding-bottom">
                    <div class="col col-33">
                      <!-- <a class="icon-circle icon-circle-outline"><i class="icon ion-android-arrow-back"></i></a> -->
                    </div>
                    <div class="col col-33">
                        <p class="title text-center">dashboard</p>
                    </div>
                    <div class="col col-33 text-right">
                      <!-- <a class="icon-circle icon-circle-outline" ng-click="closeButton()"><i class="icon ion-close"></i></a> -->
                    </div>
                </div>
            </ui-view>
            <br><br>
                <div class="list card">
                  <div class="item item-divider">
                    <p>Recent Activity</p>
                  </div>
                  <div class="item" ng-repeat="x in messages.data">{{x.message}} for {{x.org_name}}<b class="sub-content">Date: {{x.act_date}} | Time: {{x.act_time}}</b> 
                  </div>
                </div>

                <div class="list card">

                  <div class="item item-divider">
                    <p>Hints</p>
                  </div>

                  <a class="item" href="#">Click on <i class="icon ion-ios-compose-outline"></i> "icon" to start a new volunteer service form</a>
                </div>
        </ion-content>
</ion-view>