
	<div class="row">
			<div class="col col-50 col-offset-25">
					<br>
					<br>
					<h1>You have successfully submitted your volunteer form. Your form is pending until advisor approves it. Meanwhile you can edit your form, delete when in pending.</h1>
					<h5>Do you want to do? 
					<a href="#" class="button button-positive" ng-click="editForm()">Edit Recent Form<a> &nbsp;&nbsp;&nbsp;&nbsp;
					<a class="button button-positive" ng-click="gotoNewForm()">Start New Form</a>
			</div>		
	</div>

