<div class="row">
<div class="col col-50 col-offset-25 success-box padd0" ng-hide="successBox">
			<div class="header-bar blue-bg">
				<i class="icon ion-ios-checkmark-outline"></i>
			</div>
			<div class="header-content">
				<br>
				<p class="text-center sub-title"><b>Great!</b></p>
				<br>
				<p class="text-center">You have successfully submitted your volunteer form</p>
				<br>
				<div class="btn-container">
					<button class="button button-assertive" ng-click="gotoDashboard()"><i class="icon ion-arrow-left-c"></i>&nbsp;&nbsp;Go Back</button>
					<button href="#" class="button button-positive" ng-click="editForm()">Edit Recent Form</button>
					<button class="button button-positive" ng-click="gotoNewForm()">Start New Form</button>
				</div>
			</div>
	</div>
</div>