<ion-content style="background-color: rgb(55,73,92);"> 
    <div class="col login-container">
      <div class="list list-inset">
            <div class="text-center"><img src="img/est_logo_200px.png" style="width:100px;"></div>
            <h1 class="text-center mid-text text-white">eServiceTracker</h1> 
            <div class="text-center"><b class="text-white">Login</b></div>
            <div class="login-box">
            <form name="loginForm" novalidate>
            <!-- show an error if username is too short -->
            <p class="errormsg">{{message}}</p>
                  <label class="item item-input">
                      <input 
                            type="text" 
                            placeholder="Email" 
                            ng-model="loginForm.user"
                            ng-minlength="8" 
                            required>
                  </label>
                  <br>
                  <label class="item item-input">
                      <input type="password" 
                                placeholder="Password" 
                                ng-model="loginForm.pass" 
                                ng-minlength="6"
                                required >
                      
                  </label>
                
                <button class="button button-block btn-green" 
                                id="loginBtn"
                                ng-click="login(loginForm)"
                                ng-disabled="loginForm.$invalid">
                                Login
                </button>
                <div class="test_now">{{status}}</div>
            </form>
            </div>
            <br>
            <a href="#/register" class="button btn-white col">Register Now</a>
        </div></div>    
        <!-- <p>The input's valid state is:</p>
        <h1>{{loginForm.$valid}}</h1> -->
</ion-content> 
