<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-simple">
     <!--  <ion-nav-back-button>
      adsa
      </ion-nav-back-button> -->
      <ion-nav-buttons side="right" class="right_menu_box">
        <ul>
          <li><i class="icon ion-ios-compose-outline"></i></li>
          <li><i class="icon ion-clock"></i></li>
          <li><i class="icon ion-ios-chatboxes-outline"></i></li>
          <li><i class="icon ion-ios-bell-outline"></i></li>
          <li>Hello, {{user_fname}}</li>
          <li class="log-out"><i class="icon ion-log-out"></i></li>
        </ul>
        
      </ion-nav-buttons>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent">
              <!-- upper section -->
              <div class="row padding title_breadcrumb_box">
                  <div class="col col-33"><a class="icon-circle icon-circle-outline"><i class="icon ion-android-arrow-back"></i></a></div>
                  <div class="col col-33">
                      <p class="title text-center">Yolo</p>
                  </div>
                  <div class="col col-33 text-right"><a class="icon-circle icon-circle-outline"><i class="icon ion-close"></i></a></div>
              </div>
              <ui-view name=""></ui-view>
    </ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" >
    <ion-header-bar class="bar-stable">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content class="side-menu-box">
      <ion-list>
        <ion-item menu-close href="#/app/dashboard">
          <i class="icon ion-home"></i>Dashboard
        </ion-item>
        <ion-item menu-close href="#/app/volunteerForm">
          <i class="icon ion-document"></i>New Volunteer Form
        </ion-item>
        <ion-item menu-close href="#/app/serviceHistory">
          <i class="icon ion-clock"></i>Service History
        </ion-item>
        <ion-item menu-close href="#/app/notification">
          <i class="icon ion-android-notifications-none"></i>Notification
        </ion-item>
        <ion-item menu-close href="#/app/messages">
          <i class="icon ion-email"></i>Messages
        </ion-item>
        <ion-item menu-close href="#/app/myProfile">
          <i class="icon ion-person"></i>My Profile
        </ion-item>
        <ion-item menu-close ng-click="logout()">
          <i class="icon ion-log-out"></i>Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
