 <div class="modal popmodal">
    <ion-header-bar>
      <h1 class="title assertive">{{msgtitle}}</h1>
    </ion-header-bar>
    <ion-content style="height:200px !important;">
      <div class="list">
      		<p class="padding text-center"><br><br>{{msgbody}}</p>
      </div>
      
      <div class="btn-container">
      <button class="button button-assertive" ng-click="closeModal()">
      			<i class="icon ion-close-round"></i>&nbsp;Cancel&nbsp;
      </button>&nbsp;&nbsp;
      <button class="button button-positive" style="display:inline-block;" ng-click="deleteData()">
      			<i class="icon ion-trash-b"></i>&nbsp;Delete&nbsp;
      </button>
      </div>
    </ion-content>	
  </div>