<script type="text/ng-template" id="error-messages">
	    <p ng-message="minlength" class="sub-content assertive">Your password is too short.</p>
        <p ng-message="maxlength" class="sub-content assertive">Your password is too long.</p>
        <p ng-message="required" class="sub-content assertive">This field is required.</p>
</script>

<ion-view>
	<ion-content>
	 <div class="row padding title_breadcrumb_box padding-bottom">
     
      <div class="col">
          <p class="title text-center">profile view</p>
      </div>
      
  	</div>
		<div class="row padd0">
			<div class="col padd0">
					<div class="row padd0">
							<div class="col padd0">
								<b class="text-center {{pactive}} tab-box" style="display:block;" ng-click="tabProfile()">My Profile</b>
							</div>
							<div class="col padd0">
								<b style="display:block;" class="text-center {{cactive}} tab-box" ng-click="tabPassword()">Change Password</b>	
							</div>
					</div>
					<hr>
			</div>
		</div>
		<div ng-show="isEven(myNumber)">
			<div class="row">		
				<div class="col">
				<form name="proForm" novalidate>
				  <div class="item-text-wrap">
				    <ul>
				    	<li><b class="sub-title">Profile Details</b></li><br><hr>
				    	<br>	
				    	<div ng-if="val==0"><p class="sub-content">You can edit your profile now</p></div>
				    	<li><label class="item item-input padd0">
				    			<p class="padding-left">Firstname</p>&nbsp;&nbsp;
				    			<input type="text" 				 
				    					ng-disabled="disop" 
				    					class="padding-right"
				    					name="fname"
				    					ng-minlength="3"
				    					ng-model="profile.std_fname"
				    					required>
				    		</label> 
				    		<div ng-messages="proForm.fname.$error" ng-if="proForm.fname.$touched">
								<div ng-message="pattern"><p class="sub-content assertive">Your password does not match</p></div>
				  			<div ng-messages-include="error-messages" class="sub-content"></div>
					    </div>
				    	</li><br>
				    	<li><label class="item item-input padd0">
				    			<p class="padding-left">Lastname</p>&nbsp;&nbsp;
				    			<input type="text" 
				    					ng-disabled="disop" 
				    					class="padding-right"
				    					ng-model="profile.std_lname">
				    		</label> 
				    		<div ng-messages="passForm.repass.$error" ng-if="passForm.repass.$touched">
							<div ng-message="pattern"><p class="sub-content assertive">Your password does not match</p></div>
				  			<div ng-messages-include="error-messages" class="sub-content"></div>
					    </div>
				    	</li><br>
				    	<li><label class="item item-input padd0">
				    			<p class="padding-left">Email</p>&nbsp;&nbsp;
				    			<input type="text" 
				    					ng-disabled="true" 
				    					class="padding-right"
				    					ng-model="profile.std_email">
				    		</label> 
				    		<div ng-if="val==0"><p class="sub-content">Email cannot be modified</p></div>
				    	</li><br>
				    	<li>
				    		<label class="item item-input item-select">
							    <div class="input-label">
							      <p>Graduation Year</p>
							    </div>
							    <select ng-model="profile.std_gradYear" ng-disabled="disop">
							      <option selected>{{profile.std_gradYear}}</option>	 
							      <option>2016</option>	
							      <option>2015</option>
							      <option>2014</option>
							      <option>2013</option>

							    </select>
						  	</label>
				    	</li>
				    </ul>
				    <br><hr><br>
				    <a class="button btn-del" 
				    	ng-click="editProfile(profile)" 
				    	ng-show="!isSave(val)">Edit Profile</a>
				    <a class="button btn-del" 
				    	ng-click="cancelProfile()" 
				    	ng-show="isSave(val)">Cancel</a>
				    <a class="button btn-green" 
				    	ng-click="saveProfile(profile)" 
				    	ng-show="isSave(val)"
				    	ng-disabled="proForm.$invalid">Save Changes</a>
				  </div>
				  </form>
				</div>
			</div>
		</div>

		<!-- show if our function evaluates to false -->
        <div ng-show="!isEven(myNumber)">
          	<div class="row">
				<div class="col">
					<form name="passForm" novalidate>
					<div class="">
						<p class="sub-title">Change Password</p>
						<b class="sub-content">Please Provide Your current password and set new password</b>
						<br><hr><br>
						<!-- <label class="item item-input">
						    <input type="text" placeholder="Old Password" ng-model="pass.old">
						</label><br> -->
						<label class="item item-input">
						    <input type="password" 
						    		placeholder="New Password" 
						    		ng-model="pass.new" 
						    		ng-minlength="6"
						    		ng-maxlength="12"
						    		name="newpass"
						    		required>
						</label>
						<div ng-messages="passForm.newpass.$error" ng-if="passForm.newpass.$touched">
				  			<div ng-messages-include="error-messages" class="sub-content"></div>
					    </div>
						<br>
						<label class="item item-input">
						    <input type="password"
						    		name="repass" 
						    		placeholder="Retype New Password" 
						    		ng-pattern="pass.new"
						    		ng-model="pass.renew"
						    		ng-minlength="6"
						    		ng-maxlength="12"
						    		required>
						</label>
						<div ng-messages="passForm.repass.$error" ng-if="passForm.repass.$touched">
							<div ng-message="pattern"><p class="sub-content assertive">Your password does not match</p></div>
				  			<div ng-messages-include="error-messages" class="sub-content"></div>
					    </div>
						<br><hr><br>
			  			<button class="button btn-green" ng-click="changePassword(pass)" ng-disabled="passForm.$invalid">Change Password</button>
			  		</div>
			  		</form>
				</div>
			</div>
        </div>
		<!-- <ion-nav-view name="tabView">
		</ion-nav-view> -->
		<script id="contact-modal.html" type="text/ng-template">
		  	<div class="col success-box padd0" ng-hide="successBox">
			<div class="header-bar blue-bg text-center">
				<i class="icon ion-ios-checkmark-outline"></i>
			</div>
			<div class="header-content">
				<br>
				<p class="text-center sub-title"><b>Great!</b></p>
				<br>
				<p class="text-center">{{msgbody}}</p>
				<br>
				<div class="btn-container">
					<button class="button btn-green" ng-click="goBack()"><i class="icon ion-arrow-left-c"></i>&nbsp;&nbsp;Go Back</button>
				</div>
			</div>
			</div>
		</script>

	</ion-content>
</ion-view>