<script type="text/ng-template" id="error-messages">
	    <p ng-message="minlength">Your password is too short.</p>
        <p ng-message="maxlength">Your password is too long.</p>
        <p ng-message="required">This field is required.</p>
</script>

<ion-content style="background-color:rgb(54,73,92);">
	<ui-view name="registerView">
		<div class="text-center"><img src="img/est_logo_200px.png" style="width:100px;"></div>
		<h1 class="text-center" style="color:white;font-weight:300;font-size:24px;">Create an account</h1>
		<div class="row col" style="background:rgb(236,240,241);">
				<br>	
				<form name="registerForm" novalidate>
						<div class="row padd0">
							<div class="col">
								<label class="item item-input">
						    		<input 
						    			type="text" 
						    			placeholder="Firstname (Required)" 
						    			ng-model="register.fname"
						    			name="fname"
						    			ng-minlength="3"
						    			required>
						  		</label>
						  	</div>	
						</div>
						<div ng-messages="registerForm.fname.$error" ng-if="registerForm.fname.$touched">
					  			<div ng-messages-include="error-messages"></div>
						</div>
						<br>
						<div class="row padd0">
							<div class="col">
								<label class="item item-input">
						    		<input type="text" 
						    		placeholder="Lastname (Required)" 
						    		ng-model="register.lname"
						    		name="lname"
						    		ng-minlength="3"
						    		required>
						  		</label>	
							</div>		
						</div>
						<div ng-messages="registerForm.lname.$error" ng-if="registerForm.lname.$touched">
					  			<div ng-messages-include="error-messages"></div>
						</div><br>
						<div class="row padd0">
							<div class="col">
								<label class="item item-input">
						    		<input 
						    			type="email" 
						    			placeholder="School Email (Required)" 
						    			ng-model="register.email"
						    			ng-pattern="pattern"
						    			name="email"
						    			ng-minlength="10"
						    			required>
						  		</label>
						  	</div>
						</div>
						<div ng-messages="registerForm.email.$error" ng-if="registerForm.email.$touched">
					  			<div ng-message="minlength">Your email is too short</div>
					  			<p ng-message="pattern">Invalid Email. Please use VMA email.<br>Example: user@prep-villa.com</p>
					  			<div ng-messages-include="error-messages"></div>
						 </div>	
						<br>
						<div class="row padd0">
							<div class="col">
								<label class="item item-input item-select col">
									    <div class="input-label">
									      <p>Graduation Year</p>
									    </div>
									    <select ng-model="register.gradYear" required>
									      <option selected>2017</option>	 
									      <option>2016</option>	
									      <option>2015</option>
									      <option>2014</option>
									      <option>2013</option>

									    </select>
								  	</label>
							</div>			
						</div><br>
						<p class="text-center">Set your password</p>
						<div class="row">
							<div class="col">
								<label class="item item-input">
						    		<input 
						    			type="password" 
						    			placeholder="Password" 
						    			name="password"
						    			ng-model="register.password"
						    			ng-minlength="6"
						    			required>
						  		</label>
						  		<div ng-messages="registerForm.password.$error" ng-if="registerForm.password.$touched">
						  			<div ng-messages-include="error-messages"></div>
							    </div>
							</div>
						</div><br>
						<div class="row">
							<!-- confirm password -->
							<div class="col">
								<label class="item item-input">
						    		<input type="password" 
						    		placeholder="Confirm Password"
						    		name="conpass"
						    		ng-minlength="6" 
						    		ng-model="register.conpass"
						    		ng-pattern="register.password"
						    		required>
						  		</label>
						  		<div ng-messages="registerForm.conpass.$error" ng-if="registerForm.conpass.$touched">
						  			<div ng-message="minlength">Your password is too short</div>
						  			<div ng-message="pattern">Your password does not match</div>
						  			<div ng-messages-include="error-messages"></div>
						  			
						  			<!-- <div ng-message="required">This field is required</div> -->
							    </div>
							</div>
						</div><br>	
						<div class="row">
								<div class="col">
									<button class="button btn-green" 
									ng-click="submit(register)"
									ng-disabled="registerForm.$invalid">
										Register Now
									</button>
								</div>
						</div>
			</form><!-- Form End -->
	</div><!-- main row end -->

				<!-- <div class="row">
					<div class="col">
					
					<ion-checkbox 
						ng-model="register.checked"
						type="checkbox"
						name="agreement"
						required>I agree to the terms &amp; conditions</ion-checkbox>
					
					</div>
					<div ng-messages="registerForm.agreement.$error">
			  			<div ng-message="checked">Please agree to the terms and conditions to Register</div>
				    </div>
				</div> -->
				<br>
	<div class="row"><a href="#/login" class="button btn-white col">I Already Have an Account</a></div>
	<br><br>

	</ui-view>
</ion-content>