<ion-view>

<ion-content>
<!-- upper section -->
<ui-view name="breadcrumb">
	  <div class="row padding title_breadcrumb_box padding-bottom">
	   
	      <div class="col">
	          <p class="title text-center">Service History</p>
	      </div>

	  </div>
</ui-view>
<div class="list">

<div class="padding ">              

  <!-- <hr> -->		
 <!-- <ui-view name="serviceView"> -->
	<div class="row padd0">
 	<div class="col">
  		<label class="item item-input item-select">
		    <div class="input-label">
		      School Year
		    </div>
		    <select class="form-control" ng-model="schYr" ng-change="filterByYear(schYr)">
		    	<option value="">All School Years</option>
		     	<option ng-repeat="y in messages.schoolYear" value="{{y.sch_year}}">{{y.sch_year_prefix}}-{{y.sch_year_suffix}}</option>
		    </select>
		</label>
	</div>
	</div>
	<div class="row padd0">
	<div class="col">
  		<label class="item item-input item-select">
		    <div class="input-label">
		      View Status
		    </div>
		    <select ng-model="status" ng-change="filterByStatus(status)">
		      <option value="">All Status</option>
		      <option value="1">Accepted</option>
		      <option value="2">Rejected</option>
		      <option value="3">Pending</option>
		    </select>
		</label>
	</div>
	</div>
	<div class="row padd0">
	<div class="col">
		 <label class="item item-input">
		    <i class="icon ion-search placeholder-icon"></i>
		    <input type="text" placeholder="Search" ng-model="searchBox">
		  </label>
	</div>
	</div>
<!-- 	<div class="col col-25">
		<h4>Total Hours: <b>12</b></h4>
	</div> -->
  </div>
  <br>
  <div ng-if="messages.data">
	  	<div class="history_box"
			 ng-repeat="x in messages.data | toArray:false | filter:searchBox | filter: {sers_id:status} | filter: {school_year:schYr} | orderBy:'-ser_id'"
			 ng-click="getSingleHistory(x)">
			    <div class="padding-top row org-info">
			    	<div class="org-desc col-100">
				    	<i class="icon ion-ios-paper-outline" style="font-size:28px"></i>
				    	<span>{{x.org_name}}</span>
			    	</div>
			   	</div>
			   	<div class="padding-top row org-info">
			    	<div class="org-desc col-100" style="padding-left:20px;">
				    	<div style="background:#20AB99;display:inline-block;color:#fff; padding:2px 4px; border-radius:3px; ">
				    		<i class="icon ion-clock" style="color:white; padding-left:0px; font-size:18px;"></i>
				    	</div>
				    	<span>{{x.ser_hr}}&nbsp;<b style="font-size:12px; color:#aaaaaa;">hours</b></span>
			    	</div>	
			   	</div>
			    <div class="row padd0 org-bottom">
			    	<div class="col">
			    		<span><i class="icon ion-ios-location"></i>&nbsp;<b>{{x.org_address}}</b></span>&nbsp;
			    		<span>
			    		<!-- <i class="icon ion-calendar"></i> -->
			    		<i class="icon ion-ios-calendar"></i>&nbsp;<b>{{x.ser_date}}</b>
			    		</span>&nbsp;
			    		<span>
			    		<i class="icon ion-arrow-graph-up-right"></i>&nbsp;
			    		<b ng-switch on="x.sers_id">
						    <!-- <i class="icon ion-ios-information-outline"></i>&nbsp; -->
						    <b ng-switch-when="1" class="positive">Accepted</b>
						    <b ng-switch-when="2" class="assertive">Rejected</b>
						    <b ng-switch-when="3" class="balanced">Pending</b>
						</b> 
						</span>
			    	</div>
			    </div>
			   <!--  <div class="row padd0 org-bottom">
			    	<div class="col">
			    		
			    	</div>	
			   	</div>
			   	<div class="row padd0 org-bottom">
			    	<div class="col">
			    		
			    	</div>
			    	<div class="col"></div>
			    </div> -->
		</div>
	</div>

<!-- <ui-view> -->
</div>
</div>
</ion-content>
</ion-view>

