
<ion-view>
<ion-content>
 <div class="row padding title_breadcrumb_box padding-bottom">
      <div class="col col-33">
      	<!-- <a class="icon-circle icon-circle-outline"><i class="icon ion-android-arrow-back"></i></a> -->
      </div>
      <div class="col col-33">
          <p class="title text-center">Service History Record</p>
      </div>
      <div class="col col-33 text-right">
      	<!-- <a class="icon-circle icon-circle-outline" ng-click="closeButton()"><i class="icon ion-close"></i></a> -->
      </div>
  </div>
<div class="row">
	<div class="col col-50 col-offset-25" ng-hide="hideBox">
		<br><br>
		<div class="row padd0">
			<div class="col">
				<label><b>Organization</b>: {{messages.org_name}}</label>
				
			</div>
			<div class="col">
				<label><b>Service Hour</b>: {{messages.ser_hr}}</label>
			</div>
			<div class="col">
				<label><b>Status</b>: 
					<b ng-switch on="messages.sers_id">
							    <!-- <i class="icon ion-ios-information-outline"></i>&nbsp; -->
							    <b ng-switch-when="1" class="positive">Accepted</b>
							    <b ng-switch-when="2" class="assertive">Rejected</b>
							    <b ng-switch-when="3" class="balanced">Pending</b>
					</b> 
				</label>
			</div>
		</div>
		<hr><br>
		<div class="row" style="background:#EAEAEA;">
			<b class="text-center col col-100">Service Description</b>
		</div>
		<div class="row" style="background:#EAEAEA;">
			<p class="col col-100">{{ messages.org_desc}}</p>	
		</div>
		<br><hr><br>
		<div class="row">
			<div class="col"><label><b>Date of Service:</b> {{ messages.ser_date | date:'dd-MM-yyyy'}}</label></div>
			<div class="col"><label><b>Location</b>: {{messages.org_address}}</label></div>
		</div>
		<br><hr><br>
		<div class="row">
			<div class="col"><label><b>Advisor:</b> {{ messages.adv_fname + " " +messages.adv_lname}}</label></div>
			<div class="col"><label><b>Supervisor</b>: {{ messages.supervisor_fname}}</label></div>
		</div>
		<br><hr><br>

		<a class="button button-assertive" ng-click="goBack()"><i class="icon ion-arrow-left-c">&nbsp;</i>Go Back</a>
		<a class="button button-positive" ng-click="deleteForm()" ng-if="messages.sers_id == 3">Delete Form</a>

		<!-- <a ng-if="messages.sers_id == 3" class="button button-positive" ng-click="editForm()">Edit This Form</a> -->
	</div>
	<div class="col col-50 col-offset-25 success-box padd0" ng-hide="successBox">
			<div class="header-bar blue-bg">
				<i class="icon ion-ios-checkmark-outline"></i>
			</div>
			<div class="header-content">
				<br>
				<p class="text-center sub-title"><b>Great!</b></p>
				<br>
				<p class="text-center">You have successfully deleted service record.</p>
				<br>
				<div class="btn-container">
					<button class="button button-assertive" ng-click="goBack()"><i class="icon ion-arrow-left-c"></i>&nbsp;&nbsp;Go Back</button>
				</div>
			</div>
	</div>
</div>

</script>
</ion-content>
</ion-view>