<ion-view view-title="New Volunteer Form">
	<ion-content>
		<h1>Volunteer Form</h1>
		<div class="list padding">
		  <label class="item item-input">
		    <input type="text" placeholder="Service Name">
		  </label>
		  <br>
		  <label class="item item-input">
		    <input type="text" placeholder="Organization">
		  </label>
		  <br>
		  <label class="item item-input">
		    <input type="text" placeholder="Site Name">
		  </label>
		  <label class="item item-input">
		    <input type="text" placeholder="Work Hours Done">
		  </label>
		  <br>
		  <label class="item item-input item-select">
		    <div class="input-label">
		      Select Advisor
		    </div>
		    <select>
		      <option>Joe Bell</option>
		      <option selected>John Doe</option>
		      <option>Nicholas Cage</option>
		    </select>
		  </label>
		  <br>
		  <label class="item item-input item-select">
		    <div class="input-label">
		      Type of Service
		    </div>
		    <select>
		      <option>Service A</option>
		      <option selected>Service B</option>
		      <option>Service C</option>
		    </select>
		  </label>
		  <br>
		  <label class="item item-input">
		    <input type="text" placeholder="Supervisor Name">
		  </label>
		  <br>
		  <label class="item item-input">
		    <input type="text" placeholder="Supervisor Contact (Telephone - Optional)">
		  </label>
		  <br>
		  <label class="item item-input">
		    <input type="text" placeholder="Supervisor Email">
		  </label>
		  <br>
		  <label class="item item-input">
		    <textarea placeholder="Description of Service"></textarea>
		  </label>
		  <br><br>
		  <button class="button button-positive">
		   	Submit Form
		   </button>
		<br><br>
		</div>
	</ion-content>
</ion-view>