/* Empty. Add your own CSS if you like */
.body{
	font-family: 'Roboto', sans-serif;
}
.profile_ion_content_box{
	background-color: #444444 !important;
}
.profile-name-box{
	background-color: #e86850;
	font-family: 'sans-serif' !important;
	font-weight: 300;
}

.profile-name-box h1 {
	font-size: 30px;
	font-weight: 300;
	color:#ffffff;
}

.profile-name-box h1 i {
	padding-left: 20px;

}
.profile-info-box {
	background-color: #e86850;
}

.profile-info-box b{
	font-size: 18px;
	color: #ffffff;
}
.profile-info-box i {
	color: #fff;
	padding-right: 5px;
}
hr {
	background-color: #eaeaea;
	padding: 0;
	margin: 0;
	color: #9c2a14;
	height: 1px;
	border: none;
}
.side-menu-box{
	background-color: rgb(40,45,54) !important;
}
.side-menu-box .list {
	background-color: rgb(40,45,54) !important;
}

/*Set the background to transparent for ion-item*/
.side-menu-box .item {
  background-color: transparent;
  border:none;   /*Removes all borders*/
  border-top: 0px solid;   /*Top Border for each menu item*/
  border-bottom:0px solid;   /*Bottom border for each menu item*/
  border-color: #555555;   /*Sets colors for top and bottom border*/
  color: white;    /*Text color for each item*/
}

/*Changes the border for the last item*/
.side-menu-box .item:last-child {
  border-bottom: 0px solid #666;
}
 
.side-menu-box .item-complex .item-content, .dark .item-radio .item-content {
  background-color: transparent;
}
 
/*Just makes the type white*/
.side-menu-box h2,
.side-menu-box h3,
.side-menu-box p,
.side-menu-box a {
  color: rgb(107,118,131);  /*Text color for each item, overrides the color property above*/
  font-weight: 400;
}
.side-menu-box:hover {
	color: #fff !important;
}
.side-menu-box i {
	padding-right: 15px;
}



.banner {
	background-color: #ffffff;
}
.banner h1,h2,h3,h4,h5{ 
	color: white; padding:20px; font-weight: 300;
	font-size: 16px;
}


.icon-circle, .icon-circle-large, .icon-circle-small{
  position: relative;
  display: inline-block;
  margin: -1px;
  /*padding: 16px;*/
  
  
  width: 45px; /* 60*/
	height: 45px; 
  font-size:40px; 
  
   -moz-border-radius:50%;
  -webkit-border-radius:50%;
	border-radius: 50%;
  
	
  
  border: 1px solid #ebebeb;
 
  background: rgb(0, 161, 225); /*#ececec;ebebeb*/
  color: #fff;
  
  text-align:center;
  /*vertical-align: middle;*/
}

.icon-circle-large {
  width: 100px;
  height: 100px;
  font-size: 64px; /* 64, originally 60 */
  padding: 16px;
  
  
}
.icon-circle-small {
  width: 24px;
  height: 24px;
  font-size: 15px;
  background:rgba(12,97,132);
}


/*.icon-circle i, .icon-circle-small i, .icon-circle-large i { vertical-align: middle; }*/

.icon-circle-outline {
   border: 3px solid rgb(203, 203, 203);
   background: transparent;
   color: rgb(97, 109, 124);

   /*color: #8a6de9;*/
}

.icon-circle-outline i {  
	font-size: 20px;
	line-height: 40px;
}
/*icon-circle-bg and icon-circle and circle-bg*/




/*http://davidwalsh.name/css-circles*/



.item-icon-circle {
   -moz-border-radius:50%;
  -webkit-border-radius:50%;
	border-radius: 50%;
	width: 100px;
	height: 100px; 
  /* width and height can be anything, as long as they're equal */
  
  text-align:center;
  color:white;
  /* font size here wont work */

}

.item-icon-circle i {
  /*text-align:center;
  color:white;*/
   /*margin: 0px auto;
  padding: 0px;
  display:block;*/
  font-size:60px;
}



	



	



/*
    letter-spacing: 1px;
  overflow: hidden;
  
  
    perspective-origin: 40px 40px;
    transform-origin: 40px 40px;
    background: rgb(0, 161, 225) none repeat scroll 0% 0% / auto padding-box border-box;
*/

.bg-circle-alt {
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
	border-radius: 50%;
	width: 100px;
	height: 100px; 
}



